.container-signin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #F8F8F8;
  width: 90%; /* Adjusted to ensure 5% margin on left and right */
  height: 85vh; /* Adjusted to ensure 5% margin on top and bottom */
  margin: 5vh 5%; /* 5% margin from top, bottom, left, and right */
  line-height: normal;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(141, 141, 149, 0.5);
}

.img-logo-section-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-company-logo {
  max-width: 83%;  
  height: auto;
  border-radius: 5%;
  border: 2px solid rgba(104, 149, 173, 0.321);
  box-shadow: 0px 0px 20px rgba(92, 92, 98, 0.5);
}

.right-section-signin {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.square-right-signin {
  padding: 20px; 
  border-radius: 10px;
  text-align: center;
  margin-right: 25%;
  width: 100%;
}

@media (max-width: 768px) {
  .container-signin {
    flex-direction: column;
  }

  .img-logo-section-left {
    display: none;
  }

  .right-section-signin {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .square-right-signin {
    margin: 10% auto;
  }
}

.form-control-signin {
outline: none;
  border-radius: 6%;
  width: 350px; 
  padding: 10px;
  margin: 5px auto; /* Center the input horizontally */
  box-sizing: border-box;
  border: 2px solid rgba(104, 149, 173, 0.321);
  box-shadow: 0px 0px 2px rgba(124, 124, 133, 0.5);
}

.button-for-signup {
  margin-bottom: 20%;
  width: 20%;
}

.heading-signin {
  text-align: center;
  color: #0d75e4;
  margin-top: 10px;
}

.square-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 25%; */
}

.button-for-signin {
  align-items: center;
  padding: 10px 20px;
  border: none;
  background-color: #0d75e4;
  border-radius: 5%;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5%;
  text-align: center;
  width: 100%;
  align-self: center;
}

.button-for-signin:hover {
  background-color: #0056b3;
}

.password-input-container {
  position: relative;
}

.password-input-container .form-control-signin {
  width: 100%;
  padding-right: 40px;
  padding: 8px;
  box-sizing: border-box;
}

.password-input-container .toggle-visibility {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
}

.forgot-password-button {
  font-size: 13px;
  border: none;
  background: none;
  text-align: center;
  color: #0d75e4;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px 0;
  margin-left: 31%;
  display: flex;
}

.no-account-p-tag {
  font-size: 14px;
  margin-left: 30px;
}

.create-new-account-button {
  border: none;
  background: none;
  font-size: 13px;
  color: #0d75e4;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.no-account-p-tag {
  margin-right: 5vh;
}

.create-new-account-button:hover {
  cursor: pointer;
}
