.container-signup {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin: 2%; /* Space around the container */
  height: 90vh;
  box-shadow: 0px 0px 20px rgba(141, 141, 149, 0.5);
  border-radius: 10px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.img-logo-section-left {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-company-logo {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-right: 15vh;
  box-shadow: 0px 0px 20px rgba(141, 141, 149, 0.5);
}

.signup-right {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.square {
  width: 100%;
}

.heading-signup {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.text {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 20px;
  color: #666;
}

.input-first-name-signup,
.input-last-name-signup,
.input-phone-number-signup,
.input-email-signup,
.password-input-container-signup {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative; /* Needed for positioning the eye button inside the input */
}

.form-control-signup,
.password-input-signup,
.confirm-password-form-control-signup {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
}

.toggle-visibility-signup {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  position: absolute;
  right: 10px; /* Position the eye button inside the input */
  top: 50%;
  transform: translateY(-50%);
}

.container-for-login-signup {
  margin-top: 20px;
  display: flex;
  justify-content: space-between; /* Distribute space between the buttons */
}

.button-for-signup-signup {
  padding: 10px 20px; /* Adjust padding for a smaller button */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.button-for-signup-signup:hover {
  background-color: #0056b3;
}

.forgot-password-button-section {
  display: flex;
  align-items: center;
}

.signin-button-signup {
  padding: 10px;
  color: #0056b3;
  background: none; /* Remove background */
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.signin-button-signup:hover {
  color: #02365d;
}

.p-for-signin {
  text-align: center;
  margin-top: 20px;
  color: #666;
}

.p-for-signin .f-w-400 {
  color: #007bff;
  text-decoration: none;
}

.p-for-signin .f-w-400:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
  .container-signup {
      flex-direction: column;
      margin: 1%; /* Adjust margin for smaller screens */
      height: auto;
      padding: 5%;

  }

  .img-logo-section-left {
      display: none; /* Hide image section on smaller screens */
  }

  .signup-right {
      flex: 1 0 auto;
      width: 100%;
      padding: 20px;
      margin: 0;
      box-sizing: border-box;
      justify-content: center; /* Center the content horizontally */
      align-items: center; /* Center the content vertically */
  }

  .container-for-login-signup {
      flex-direction: column; /* Stack buttons vertically on smaller screens */
      align-items: center;
      box-shadow: none;

  }

  .button-for-signup-signup,
  .signin-button-signup {
      margin-left: 0; /* Reset margin for center alignment */
      margin-top: 10px; /* Add margin between stacked buttons */
      margin: none;
  }
  
}
